---
const year = new Date().getFullYear();
const props = Astro.props;
---

<section id="contact" class="s-contact target-section">
  <div class="row section-header" data-aos="fade-up">
    <div class="col-full">
      <h3 data-num={props.order} class="subhead">Get In Touch</h3>
      <h1 class="display-1 display-1--light">
        {props.text}
        {
          props.email && (
            <a href="mailto:sales@integritynet.biz">{props.email}</a>
          )
        }
      </h1>
      {
        props.subtext && (
          <p class="lead lead-light">{props.subtext}</p>
        )
      }
      {
        props.btnName && (
          <p class={`lead ${props.altBtn ? "lead-light" : null}`}>
            <a
              href="contact.html"
              class={`${props.altBtn ? "btn inet-btn-main-invert-light" : "btn btn--primary"}`}>
              {props.btnName}
            </a>
          </p>
        )
      }
    </div>
  </div>

  <div class="row contact-infos">
    <div
      class="col-five md-six tab-1-2 mob-full contact-logo"
      data-aos="fade-up">
      <img
        src="/static/images/integritynet-icon-default.png"
        alt="inet-logo"
        class="inet-logo-contact"
      />
      <h1>INTEGRITYNET</h1>
      <p>
        Passion for Excellence and <br /> Dedication to Rendering Quality Service.
      </p>
    </div>

    <div
      class="col-two md-six tab-1-2 mob-full contact-pages"
      data-aos="fade-up">
      <h4>Menu</h4>

      <ul class="contact-list">
        <li><a href="index.html">Home</a></li>
        <li><a href="solutions.html">Solutions</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>

    <div
      class="col-two md-six tab-1-2 mob-full contact-company"
      data-aos="fade-up">
      <h4>Company</h4>

      <ul class="contact-list">
        <li><a href="careers.html">Careers</a></li>
        <li><a href="insights.html">Insights</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="case-studies.html">Case Studies</a></li>
      </ul>
    </div>

    <div
      class="col-three md-six tab-1-2 mob-full contact-details"
      data-aos="fade-up">
      <h4>Contact Us</h4>

      <ul class="contact-list">
        <li>
          <a href="mailto:sales@integritynet.biz">sales@integritynet.biz</a>
        </li>
        <li><a href="tel:63 917 548 6519">+63 917 548 6519</a></li>
        <li><a href="tel:63 932 846 5554">+63 998 590 8178</a></li>
        <li><a href="tel:1 877 876 9992">+1 877 876 9992</a></li>
        <li><a href="tel:1 713 583 5557">+1 713 583 5557</a></li>
      </ul>
    </div>
  </div>

  <div class="row contact-mid">
    <div
      class="col-five md-five tab-1-2 mob-full contact-social"
      data-aos="fade-up">
      <ul class="contact-social-list">
        <li>
          <a href="https://www.facebook.com/integritynet.biz" target="_blank">
            <div class="link">
              <svg width="9" height="17">
                <path
                  d="M6 6V4a.942.942 0 0 1 1-1h1L7.88.012H5.63C3.76.012 2 1.242 2 3v3H0v3h2v8h4V9h2l1.01-3.153z"
                  fill="#ffffff"
                  fill-rule="evenodd"></path>
              </svg>
            </div>
          </a>
        </li>

        <li>
          <a href="https://twitter.com/integritynetbpo" target="_blank">
            <div class="link">
              <svg width="18" height="15">
                <path
                  d="M17.5.277a7.241 7.241 0 0 1-2.34.92 3.664 3.664 0 0 0-2.7-1.2 3.739 3.739 0 0 0-3.69 3.787 4.082 4.082 0 0 0 .09.863A10.427 10.427 0 0 1 1.25.689a3.921 3.921 0 0 0-.5 1.9A3.819 3.819 0 0 0 2.4 5.741a3.642 3.642 0 0 1-1.68-.475v.048a3.776 3.776 0 0 0 2.97 3.714 3.71 3.71 0 0 1-.98.133 3.587 3.587 0 0 1-.69-.069 3.71 3.71 0 0 0 3.45 2.631 7.32 7.32 0 0 1-4.59 1.62 7.732 7.732 0 0 1-.88-.051 10.252 10.252 0 0 0 5.66 1.7c6.79 0 10.51-5.772 10.51-10.777l-.02-.49A7.384 7.384 0 0 0 18 1.767a7.178 7.178 0 0 1-2.12.6A3.769 3.769 0 0 0 17.5.277z"
                  fill="#ffffff"
                  fill-rule="evenodd"></path>
              </svg>
            </div>
          </a>
        </li>

        <li>
          <a href="#">
            <div class="link">
              <svg width="19" height="19">
                <path
                  d="M13.76-.007H5.24A5.258 5.258 0 0 0-.01 5.24v8.52a5.258 5.258 0 0 0 5.25 5.247h8.52a5.258 5.258 0 0 0 5.25-5.247V5.24a5.258 5.258 0 0 0-5.25-5.247zM17 14a2.683 2.683 0 0 1-3 3H5a2.683 2.683 0 0 1-3-3V5a2.683 2.683 0 0 1 3-3h9a2.683 2.683 0 0 1 3 3v9zM9.5 4.6a4.9 4.9 0 1 0 4.9 4.9 4.906 4.906 0 0 0-4.9-4.9zm0 8.111a3.212 3.212 0 1 1 3.21-3.212 3.215 3.215 0 0 1-3.21 3.213zm5.1-9.542a1.233 1.233 0 1 0 .88.362 1.245 1.245 0 0 0-.88-.361z"
                  fill="#ffffff"
                  fill-rule="evenodd"></path>
              </svg>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div
      class="col-six md-six tab-1-2 mob-full contact-location"
      data-aos="fade-up">
      <a
        href="https://www.google.com/maps/place/IntegrityNet+Solutions+And+Services/@13.754081,121.0665043,17z/data=!3m1!4b1!4m5!3m4!1s0x33bd05480c5c76d1:0x12cf85ba959acf9c!8m2!3d13.754081!4d121.068693"
        target="_blank">
        <p>
          <i class="fas fa-map-marker-alt"></i> Joseling Road, Batangas City, Batangas
          4200 Philippines
        </p>
      </a>
    </div>
  </div>

  <div class="row contact-bottom">
    <div class="col-five tab-full contact-button" data-aos="fade-up">
      <a href="contact.html" class="btn btn-animatedbg"> Let's Talk </a>
    </div>

    <div class="col-six tab-full contact-subscribe" data-aos="fade-up">
      <h4>Subscribe</h4>

      <form id="mc-form" class="group mc-form" novalidate="true">
        <input
          type="email"
          value=""
          name="EMAIL"
          class="email"
          id="mc-email"
          placeholder="Email Address"
          required=""
        />
        <input type="submit" name="subscribe" value="Subscribe" />
        <label for="mc-email" class="subscribe-message"></label>
      </form>
    </div>
  </div>
</section>

<footer>
  <div class="row">
    <div class="col-full cl-copyright">
      <span>
        Copyright &copy; 2009 – {year}
        IntegrityNet Solutions & Services. All Rights Reserved | <a
          href="https://colorlib.com"
          target="_blank"><i class="fas fa-copyright"></i></a
        >
      </span>
    </div>
  </div>

  <div class="cl-go-top">
    <a class="smoothscroll" title="Back to Top" href="#top"></a>
  </div>
</footer>
