---
const props = Astro.props
---
<div class="col-block item-folio" data-aos="fade-up">
  <div class="item-folio__thumb">
    <a href={props.src} class="thumb-link" title={props.title} data-size="1050x700">
      <img src={props.src} alt={props.alt}/>
    </a>
  </div>
  <div class="item-folio__text">
    <h3 class="item-folio__title">
      {props.title}
    </h3>
    <p class="item-folio__cat">
      {props.caption}
    </p>
  </div>

  <a href={props.url} class="item-folio__project-link" title={props.url}>
    Visit Website
  </a>

  <div class="item-folio__caption"></div>
</div>
